@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome to my new complex app!!
Here was used: Asp.NET Core Web API, Blazor interface, RESTful API, BCrypt Hashing,
Clean Architecture and CQRS via MediatR, PostgreSQL and Entity Framework Core. <br />
Also, to learn and develop all those I skills, I used mainly Google Gemini because tutorials from youtube <br/>
don't show how to do this type of complex project.
